@use "../../styles/variables" as t;

.productos__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;

  color: #071013;
  min-height: 100dvh;

  .productos__info {
    width: 100%;

    #productos__header {
      padding: 2rem 7rem 0rem 2rem;
      font-size: 1.75rem;
      font-weight: 400;
      color: t.$color-primary;
      min-width: 372px;
      line-height: 1.2;
      text-align: left;
    }

    .productos__img {
      min-height: 500px;
      background-image: url("../../assets//img/products-section.webp");
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
        display: block;
      }

      h4 {
        padding: 0.5rem 7rem 0rem 2rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #3c3c3b;
        min-width: 345px;
        line-height: 1;
        text-align: left;
      }
    }
  }

  .productos__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 0rem;
    width: 100%;
    max-width: 900px;

    .probiotics-background {
      background: radial-gradient(circle, #a1afbf 0%, #427abb 100%);
    }

    .repel-background {
      background: radial-gradient(circle, #ffd6bf 0%, #f88c56 100%);
    }

    img {
      padding-top: 1rem;
    }
  }

  .divider {
    background-image: url("../../assets/img/Rectangle-12.webp");
    background-size: cover;
    max-height: 80px;

    div {
      display: inline-block;
      white-space: nowrap;
      animation: moveRight 15s linear infinite;

      h2 {
        font-size: 1.8rem;
        color: #fff;
        text-align: center;
        color: #7ebd42;
      }
    }
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@media (min-width: 768px) {
  .productos__main {
    padding: 4rem 2rem;

    #productos__title {
      font-size: 1.5rem;
    }

    .productos__cards {
      gap: 2.5rem;
    }
  }
}
