/* _product-detail.scss */

.probiotics__main {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: start;
  gap: 20px;
  padding: 40px 20px;

  .probiotics-presentation {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
    img {
      display: block !important;

      height: auto;
    }
  }

  h1 {
    font-size: 2rem;
    color: #2d6bc8;
    margin: 10px 0;
  }

  h2,
  h3 {
    font-size: 1.2rem;
    color: #071013;
    line-height: 1.5;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-top: 10px;

    li {
      margin-bottom: 8px;
    }
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2d6bc8;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: background 0.3s;
  }
}
