/* _product-detail.scss */

.repel__main {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 20px;

  .repel-divider {
    background: linear-gradient(#ff8040 100%, #0000 100%);
    background-size: cover;
    height: 80px;
    width: 100%;
    max-width: 100%;

    div {
      display: inline-block;
      white-space: nowrap;
      animation: moveLeft 15s linear infinite;

      h2 {
        font-size: 1.6rem;
        font-weight: 600;
        text-align: center;
        color: #fff;
        margin: 1.8rem 0rem 0rem 0rem;
      }
    }
  }

  img {
    max-width: 300px;
    height: auto;
  }

  h1 {
    max-width: 300px;
    font-size: 2rem;
    color: #ff8040;
    margin: 10px 0;
  }

  h2 {
    max-width: 300px;
    font-size: 1.2rem;
    font-weight: 400;
    color: #3c3c3b;
    line-height: 1.2;
  }
  h3 {
    max-width: 300px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #ff8040;
    line-height: 1.2;
  }

  .repel-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;

    div {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      padding: 1.5rem;
    }
  }
  .repel-dynamic-section h1 p {
    display: inline; // para que todo quede en línea
    font-weight: 400;
  }

  .repel-dynamic-section h1 strong {
    text-transform: capitalize;
    font-weight: 700; // negrita
    color: inherit; // mantiene color del h1
  }
  .repel-dynamic-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 2rem 0rem 2rem;
    margin: 0rem 2rem 2rem 2rem;
    border-radius: 2rem;
    background-color: #f6f5f5;

    h1 {
      display: flex;
      text-align: start;
      padding-bottom: 1.5rem;
    }

    ul {
      list-style-type: none;
      li {
        display: flex;
        text-align: start;
        text-decoration: none;
        font-size: 1.2rem;
        line-height: 2;
        color: #4c4c4c;
      }
    }
  }
  .repel-dynamic-section ul {
    list-style: none;
    padding: 0;
  }

  .repel-dynamic-section .ventajas-repel ul {
    display: flex;
    flex-direction: column; /* columna en lugar de fila */
    gap: 0.8rem; /* espacio entre los items */
  }

  .repel-dynamic-section .ventajas-repel ul li {
    display: block; /* cada item en su propia línea */
  }

  .repel-dynamic-section ul {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    color: #4c4c4c;
  }
  .repel-dynamic-section ul li .text {
    display: block;
    flex: 1;
    line-height: 1.8rem;
  }

  .repel-dynamic-section .presentaciones-img {
    padding: 2rem;
  }

  .repel-dynamic-section strong {
    text-transform: uppercase;
  }

  .repel-dynamic-section ul li div {
    flex-shrink: 0;
  }

  .repel-dynamic-section ul li img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    margin-right: 1.5rem;
  }

  .repel-dynamic-section ul li .text .pr {
    display: block;
    color: #7ebc00;
    font-weight: 500;
    margin-top: 1rem;
  }

  .prod-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem 1.5rem;
    max-width: 500px;
    padding: 1rem 2rem;
    margin: 0rem 2rem;
    align-items: center;
    width: 100%;
    button {
      flex: 1 1 124px;
      min-width: 130px;
      max-width: 150px;
      padding: 8px 10px;
      background-color: #2d6bc8;
      color: #fff;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
      font-weight: 400;
      transition: background 0.3s;
      white-space: nowrap;

      &.active {
        background-color: #ff8040;
        transition: none;
      }

      &.inactive {
        background-color: #8895a3;
        transition: none;
      }
    }
  }
}
@media (min-width: 300px) and (max-width: 560px) {
  .prod-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;

    button {
      flex: 1 1 auto;
      min-width: 126px;
    }

    button:first-child {
      width: 100%;
      flex-basis: 100% !important;
      order: 0;
    }

    button:nth-child(n + 2) {
      flex-basis: 45% !important;
      order: 1;
    }
  }
}
@media (max-width: 400px) {
  .repel-dynamic-section {
    padding: 2rem; // menos padding para que entre en pantalla
    margin: 0 2rem 2rem 2rem !important; // ajustar márgenes
    width: calc(100% - 2rem); // que ocupe todo el ancho disponible
    box-sizing: border-box; // para que padding no sume al ancho
  }

  .repel-dynamic-section h1 {
    font-size: 1.5rem; // ajustar título
  }
  .repel-dynamic-section h2 {
    font-size: 1.3rem; // ajustar título
  }

  .repel-dynamic-section ul {
    gap: 1rem; // reducir separación entre items
    flex-direction: column; // asegurar columna si era fila
  }

  .repel-dynamic-section ul li img {
    width: 40px; // reducir tamaño de imágenes
    height: 40px;
  }
  .repel-dynamic-section .presentaciones-img img {
    padding: 1rem 4rem 1rem 0rem;
    position: relative;
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(700px);
  }
  100% {
    transform: translateX(-700px);
  }
}
