$font-family: "Baloo Tammudu 2", system-ui, -apple-system, "Segoe UI", Roboto,
  Arial, sans-serif;

$color-primary: #7ebc00; // principal
$color-secondary: #ff8040; // secundario
$color-terciary: #397dc9;
$color-black: #3c3c3b; // negro
$color-white: #ffffff; // blanco
