$font-family: 'Baloo Tammudu 2', system-ui, -apple-system, 'Segoe UI', Roboto, Arial, sans-serif;

$color-primary: #7EBC00;  // principal
$color-secondary: #FF8040; // secundario
$color-black: #3C3C3B;     // negro
$color-white: #FFFFFF;     // blanco
