@use "../../styles/variables" as t;
.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgba(249, 246, 255, 0.1) !important;
  color: rgba(249, 246, 255, 0.1) !important;
  height: 74px;
  border-bottom: 1px solid #eee;
  z-index: 100;
  overflow: hidden;
  img {
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.93);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.5s ease-in-out;
  z-index: 90;
  overflow: hidden !important;

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow: hidden;

    li a {
      color: t.$color-primary;
      font-size: 2.5rem;
      font-weight: 600;
      text-decoration: none;
      transition: color 0.2s;

      &:hover {
        color: #aaff00;
      }
    }
  }

  &--active {
    top: 0;
    opacity: 1;
    pointer-events: auto;
  }
}
