.footer {
  display: flex;
  height: 50vh;
  width: 100%;
  background-image: url("../../assets//img//FooterMobile.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 5rem;
  min-height: 730px;
  text-align: center;
  padding: 3rem 1rem 1rem;
  position: relative;
  justify-content: flex-end;
  overflow: hidden;
  border: none;

  .footer-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    white-space: wrap;
    
    .footer-top {
      /* Estilos para H1, H3 en móvil */
      h1 {
        font-size: 3rem;
        color: #fff;
        font-weight: 400;
      }

      h3 {
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
      }
    }

    p {
      font-size: 1rem;
      max-width: 400px;
      font-weight: 400;
      color: #fff;
    }

    .footer-links {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      white-space: normal;

      a {
        justify-content: center;
        align-self: center;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
      }

      p {
        font-size: 0.5rem;
        max-width: 400px;
        font-weight: 400;
        color: #fff;
      }
    }

    .footer-media {
      display: flex;
      flex-direction: row;
      background-color: #fff;
      border-radius: 2.5rem;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      align-self: center;
      gap: 1rem;
      max-height: 30px;
      padding: 1.2rem 1rem;
      margin: 1rem 10rem 1rem 10rem;
      max-width: 200px;
      img {
        cursor: pointer;
        display: block;
      }

      p {
        margin-top: 0.6rem;
        color: #7ebc00;
        font-weight: 700;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
    }

    .footer-end {
      padding-top: 1rem;
      a {
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 400;
        margin: 0;
        width: 100%;
      }

      a:first-child {
        color: #fff;
      }

      a:last-child {
        color: #c3eb72;
      }
    }
  }
  .solid-footer {
    display: none;
  }
}

@media (min-width: 430px) and ( max-width: 599px){
.footer {
  position: relative;
    display: flex;
    height: auto;
    min-height: 100vh;
    aspect-ratio: 6/2;
    background-size: cover;
    background-position: center top;
    max-height: none;
    background-image: url("../../assets//img/FooterMobile.png");
    background-attachment: scroll;
    padding: 0;
}
}
 
/* --- Media Queries --- */
@media (min-width: 600px) {
  .footer {
    position: relative;
    display: flex;
    height: auto;
    min-height: 100vh;
    aspect-ratio: 15/10;
    background-size: cover;
    background-position: center top;
    max-height: none;
    background-image: url("../../assets//img//FooterDesktop.png");
    background-attachment: scroll;
    padding: 0;
  }

  /* Columna Izquierda (footer-top) */
  .footer-content {
    max-width: 1200px; /* Aumenta el ancho para dar espacio */
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2rem; /* Padding horizontal y vertical */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between; /* CLAVE: Separa los dos hijos (columnas) */
    text-align: left;
    .footer-main-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 2rem; // opcional, para separar columnas

      .footer-left-column {
        flex: 1; // ocupa la mitad izquierda
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;

        h1 {
          align-self: center;
          font-weight: 400;
          font-size: 2.5rem;
          margin: 0; // opcional, más grande en desktop
        }
      }

      .footer-right-column {
        flex: 1; // ocupa la mitad derecha
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        justify-items: flex-start;
        gap: 0.5rem;
        max-width: max-content;
        white-space: nowrap;

        h3 {
          font-size: 1rem;
          font-weight: 400 !important;
          text-align: left;
        }

        .footer-media {
          display: flex;
          flex-direction: row;
          justify-items: flex-start;
          justify-self: flex-start !important;
          margin: 0px;
        }
        .footer-links {
          display: flex !important;
          flex-direction: row !important;
          align-items: flex-start !important;
          justify-content: flex-start !important;
        }
      }
    }
  }

  .footer-end {
    text-align: center; // fila inferior sigue centrada
  }

  .solid-footer {
    display: none;
  }

  .footer-content {
    padding: 0rem 2rem;
  }
}

@media (min-width: 1024px) {
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    aspect-ratio: 15/13;
    background-size: cover;
    background-position: center top;
    max-height: none;
    background-image: url("../../assets//img//FooterDesktop.png");
    background-attachment: scroll;
    padding: 0;
    margin-top: -2rem;
  }
  /* Columna Izquierda (footer-top) */
  .footer-content {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    text-align: left;
    .footer-main-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      gap: 1.5rem;

      .footer-left-column {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: flex-start !important;

        h1 {
          align-self: flex-start;
          font-weight: 400;
          font-size: 4rem;
        }
      }

      .footer-right-column {
        flex: 1; // ocupa la mitad derecha
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        justify-items: flex-start;
        gap: 1rem;
        max-width: max-content;
        white-space: nowrap;

        h3 {
          font-weight: 400 !important;
          text-align: left;
        }

        .footer-media {
          display: flex;
          flex-direction: row;
          justify-items: flex-start;
          justify-self: flex-start !important;
          margin: 0px;
        }
        .footer-links {
          display: flex !important;
          flex-direction: row !important;
          align-items: flex-start !important;
          justify-content: flex-start !important;
        }
      }
    }
  }

  .footer-end {
    text-align: center;
    font-weight: 600;
    gap: 0;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 0rem;

    a {
      font-weight: 600;
    }
  }

  .solid-footer {
    display: flex !important;
    flex-direction: column;
    align-self: center;
    height: 30px;
    justify-self: flex-end;
    width: 100% !important;
    background-color: #7ebc00;
  }
}

@media (min-width: 1300px) {
  .footer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100vh;
    aspect-ratio: 15/12;
    background-size: cover;
    background-position: center top;
    max-height: none;

    background-attachment: scroll;
    padding: 0;
  }
  .footer-content {
    position: relative;
    top: 48px;
    z-index: 2;
    min-width: 800px;
    align-items: center !important;
    padding: 2rem 2rem;

    .footer-main-row {
      justify-content: center !important;
      .footer-left-column {
        display: flex;
        flex-direction: column;
        justify-self: center;
        justify-content: center !important;

        h1 {
          justify-self: center;
        }
      }
    }
  }
  .footer-end {
    padding-top: 1rem;
  }
  .solid-footer {
    display: flex !important;
    flex-direction: column;
    align-self: center;
    height: 40px;
    justify-self: flex-end;
    width: 100% !important;
    background-color: #7ebc00;
    box-shadow: inset #7ebc00;
  }
  footer::before {
    content: ""; /* Obligatorio para pseudo-elementos */
    position: absolute;
    bottom: 0; /* Lo ancla a la parte inferior del footer */
    left: 0;
    width: 100%;
    height: 50%; /* Define que esta capa solo ocupará la mitad inferior */
    z-index: 1; /* Asegura que esté detrás del contenido, si es necesario */

    background-image: linear-gradient(to top, #7ebc00 0%, #7ebc0000 100%);
  }
}
