.footer {
  display: flex;
  height: 50vh;
  width: 100%;
  background-image: url("../../assets//img/footer.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 5rem;
  min-height: 730px;
  text-align: center;
  padding: 3rem 1rem 1rem;
  position: relative;
  justify-content: flex-end;

  .footer-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    .footer-top {
      h1 {
        font-size: 3rem;
        color: #fff;
        font-weight: 400;
      }

      h3 {
        font-size: 1rem;
        font-weight: 400;
        color: #fff;
      }
    }

    p {
      font-size: 1rem;
      max-width: 400px;
      font-weight: 400;
      color: #fff;
    }

    .footer-links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;

      a {
        justify-content: center;
        align-self: center;
        font-size: 1rem;
        color: #fff;
        text-decoration: none;
        white-space: nowrap;
      }

      p {
        font-size: 0.5rem;
        max-width: 400px;
        font-weight: 400;
        color: #fff;
      }
    }

    .footer-media {
      display: flex;
      flex-direction: row;
      background-color: #fff;
      border-radius: 2.5rem;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: center;
      gap: 1rem;
      max-height: 30px;
      padding: 0rem 1rem;
      margin: 1rem 1rem 1rem 6rem;

      max-width: 200px;
      img {
        cursor: pointer;
        display: block;
      }

      p {
        margin-top: 0.6rem;
        color: #7ebd42;
        font-weight: 700;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
      }
    }

    .footer-end {
      padding-top: 1rem;
      a {
        text-decoration: none;
        font-size: 0.9rem;
        font-weight: 400;
        margin: 0;
      }

      a:first-child {
        color: #fff;
      }

      a:last-child {
        color: #669701;
      }
    }
  }
}
